body {
font-family: 'Raleway', sans-serif;
margin: 0;
padding: 0;
}




header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	height: 100vh;
	width: 15.62vw;
	background-color: #242b2e;
	color: #6b7072;
	box-shadow: 8px 0px 14px rgba(70,70,70,0.55);
}

.main_flex__nowrap {
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row nowrap;
	flex-flow:row nowrap
}

.flex__jcontent_end {
	justify-content:flex-end;
	-webkit-justify-content:flex-end
}

.flex__align-content_center {
	align-content:center;
	-webkit-align-content:center
}

.flex__align-items_center { 
	align-items:center;
	-webkit-align-items:center
}

.main_flex {
	display:flex;
	display:-webkit-flex;
	-webkit-flex-flow:row wrap;
	flex-flow:row wrap
}

.flex__jcontent_start {
	justify-content:flex-start;
	-webkit-justify-content:flex-start
}
 
#logo  {
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
}

#logo p {
	 max-height: 100%;
     margin-top: 0;
    

}

p {
	text-align: center;
	padding-top: 1.1vmax;
}


#main_nav a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding-right: 1.2vmax;
	font-style: 0.93vmax;
	line-height: 1.66vmax;
	height: 3.22vmax;
	width: 100%;
	display: flex;
	flex-flow: row.nowrap;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #2f373b;
	background: rgb(36,43,46); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(36,43,46,1) 0%, rgba(49,57,61,1) 20%, rgba(48,56,60,1) 40%, rgba(47,54,58,1) 60%, rgba(50,58,62,1) 80%, rgba(47,55,59,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(36,43,46,1) 0%,rgba(49,57,61,1) 20%,rgba(48,56,60,1) 40%,rgba(47,54,58,1) 60%,rgba(50,58,62,1) 80%,rgba(47,55,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(36,43,46,1) 0%,rgba(49,57,61,1) 20%,rgba(48,56,60,1) 40%,rgba(47,54,58,1) 60%,rgba(50,58,62,1) 80%,rgba(47,55,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242b2e', endColorstr='#2f373b',GradientType=0 ); /* IE6-9 */


}

#main_nav a:hover {
	background: rgb(49,188,186); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(49,188,186,1) 0%, rgba(24,164,162,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(49,188,186,1) 0%,rgba(24,164,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(49,188,186,1) 0%,rgba(24,164,162,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31bcba', endColorstr='#18a4a2',GradientType=0 ); /* IE6-9 */
}

li {
	list-style: none;
	padding-right: 1.2vmax;
}

#title_filter {
	color: #1ab5b3;
	fill: #1ab5b3;
	font-size: 0.98vmax;
	padding: 1.25vmax;

}

#title_filter svg {
	width: 0.9vmax;
	height: 0.9vmax;
	margin-left: 0.62vmax;
}

#filter li {
	list-style: none;
	width: 100%;
	text-align: right;

}

#filter a {
	font-size: 0.67vmax;
	line-height: 1.25vmax;
	text-align: right;
	padding: 0.41vmax 1.25vmax;
	text-decoration: none;
	color: #616669;
}

#filter a.active {
	color: #fff;
}

#filter a:hover {
	color: #fff;
}

#soc_bar img {
	widows: 1.25vmax;
	height: 1.25vmax;
}

#soc_bar a {
	margin-left: 0.52vmax;
}

#soc_bar a:hover {
	transform: scale(0.9);
}

#soc_bar {
	padding: 1.25vmax;
	border-top: 1px solid #1e282b;
	width: 80%;
	margin-top: 1.25vmax;
}

#cop {
	text-align: right;
	width: 90%;
	font-size: 0.62vmax;
	color: #6b7072;

}

main {
	width: 100%;
	min-height: 100vh;
	padding-left: 15vw;
	top: 0;
	

}


.work_box {
	height: 16.19vw;
	max-width: 21.09vw;
	width: 25%;
	position: relative;
	overflow: hidden;
}

.work_box img {
	width: calc(100%+5vw);
	height: auto;
	position: absolute;
	z-index: 1;
}

.work_box a {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: inherit;
	background-color: rgba(45,184,185,0.9);
	color: #fff;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	opacity: 0;
}

.work_box a:hover {
	opacity: 1;
}

.arrow {
	width: 3vw;
	height: 3vw;
	fill: #fff;
}

.work_box h2 {
	font-size: 1.25vw;
	font-weight: 400;
	margin-bottom: 0.78vw;
}

.work_box h3 {
	font-size: 0.62vw;
	font-weight: 400;
}

.work_box h3:after {
	content: '';
	width: 50%;
	height: 1px;
	margin: 1vw auto;
	display: block;
	background-color: #fff;

}